@font-face { font-family: Whitney; font-weight: 200; src: url('/fonts/Whitney-Book.otf'); } 
@font-face { font-family: Whitney; font-weight: 800; src: url('/fonts/Whitney-Bold.otf');}
@font-face { font-family: Whitney; font-weight: 100; src: url('/fonts/Whitney-Light.otf');}
@font-face { font-family: Whitney; font-weight: 600; src: url('/fonts/Whitney-Medium.otf');}
@font-face { font-family: Whitney; font-weight: 500; src: url('/fonts/Whitney-Semibold.otf');}

body{
    font-family: 'Whitney', sans-serif;
}

.top-nav{
    height: 3px;
    background: #002145;
}

.brand-banner{
    height: 100px;
    background: white;
}

.brand-banner .button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;  
  font-size: 0.8rem;
  background-color: #6EC4E8;
  color: #fefefe; } {
  float: right;
}

.brand-banner .button:hover{
    background-color: #002145;
}

#logo-col{
    text-align: center;
}

#textlogo-col{
    text-align: center;
}

#logosig-col{
    text-align: center;
}

#search-col{
    text-align: right;
}

.top-bar {
    height: auto;
}

.top-bar, .top-bar ul {
    background: #E5E5E5;
}

.top-bar a{
    font-size: 15px;
    color: #002145;
}

.top-bar-left {
    float: left;
    margin-left: 6rem;
    font-weight: 600;
}

.top-bar-right {
  float: right;
  margin-right: 0;
}

#top-direc{
    padding-right: 7.5rem;
}

#top-apps{
    font-weight: 600;
}

[type='search'], text-area{
    height: 2rem;
    padding-right: 1rem;
    font-size: 14px;
}

.navigation{
    height: 45px;
    background-color: #002145;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.navigation li{
    height: 45px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation li:hover{
    background-color: rgba(73,127,163,1);
}

.navigation a{
    color: white;
}

.nav-principal{
    float: right;
    padding-right: 6rem;
}


.h1-header{
    position: relative;
    font-weight: 900;
    color: white;
    text-shadow: 0px 1px 1px #000;
    font-size: 25px;
    font-family: 'Whitney', sans-serif;
    text-transform: uppercase
    
}
.h2-header{
    position: relative;
    text-shadow: 0px 1px 1px #000;
    font-weight: 400;
    color: #fff;
    font-size: 45px;
    font-family: 'Whitney', sans-serif;
}

.marketing-hero .button{
    position: relative;
    background-color: #002145;
    font-weight: 600;
    box-shadow: 0px 1px 1px #000;
}

.marketing-hero .button:hover{
    background-color: rgba(73,127,163,1);
}

.row{
    padding-top: 25px;
}

.homepage{
    padding-top: 270px;
}

.bar {
    
}


#logo-col-proceso{
    float: left;
}

#admision-banner{
    background-color: rgba(73,127,163,1);
    height: 100px;
}

#textlogo-col-proceso h1{
    font-family: 'Whitney', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

#search-col-proceso a{
    float: right;
    color: gainsboro;
}

#search-col-proceso a:hover{
    float: right;
    color: gainsboro;
    text-decoration: underline;
}



hgroup { 
	text-align:center;

}

form {
	width: 400px;
	margin: 1em auto;
	padding: 3em 2em 2em 2em;
	background: rgba(255,255,255,0.93);

	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}


input {
    font-family: 'Whitney', sans-serif;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	-webkit-transition:all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.buttonlog {
  background-color: rgba(73,127,163,1);
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
}

.buttonlog:hover{
    background-color: rgba(73,127,163,.9);
}

.login-form h3{
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #002145;
    text-align: center;
}

.login-form p{
    font-family: 'Whitney', sans-serif;
    font-size: 13px;
    color: #002145;
    text-align: center;
}

.login-form a{
    font-family: 'Whitney', sans-serif;
    font-size: 13px;
    color: gray;
    text-align: center;
}

.header{
    background: url(../img/header.jpg) 20% 20% no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 86%;
    padding-bottom: 3rem;
    font-family: 'Whitney', sans-serif;
}

#info-bar{
    background-color: #B2DF82;
    font-family: 'Whitney', sans-serif;
    padding: 1rem 2rem 1rem 2rem;
}

#info-bar h3{
     font-family: 'Whitney', sans-serif;
    font-size: 24px;
    color: #002145;
    font-weight: 500;
}

#info-bar p{
    font-size: 14px;
}

#info-bar2{
    background-color: #fff;
    font-family: 'Whitney', sans-serif;
    padding: 1rem 2rem 1rem 2rem;
}

#info-bar2 h3{
     font-family: 'Whitney', sans-serif;
    font-size: 24px;
    color: #002145;
    font-weight: 500;
}

#info-bar2 h5{
     font-family: 'Whitney', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#info-bar2 p{
    font-size: 14px;
}

.proceso {
    font-family: 'Whitney', sans-serif;
	font-size: 14px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
    height: 25px;
}

.select{
    font-family: 'Whitney', sans-serif;
	font-size: 14px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 40%;
    height: 25px;
    padding-top: 2px;
}

#info-bar #nota{
    font-size: 10px;
}

.button{
    background-color: dimgray;
    border-color: dimgray;
    width: auto;
    font-size: 11px;
}

.button:hover{
    background-color: dimgray;
    border-color: dimgray;
    width: auto;
    font-size: 11px;
}

.fa-check-circle{
    color: #5CB200;
}

#btn-menu{
    background-color: #DFDFDF;
    width: 100%;
    height: 80px;
    font-weight: 600;
}

#btn-menu:hover{
    background-color: #E5E5E5;
}

#btn-menu-2{
    padding-top: 10px;
    background-color: #DFDFDF;
    width: 100%;
    height: 60px;
    font-weight: 600;
}

#btn-menu-2 p{
    font-size: 12px;
    font-weight: 300;
}

.select-2{
    font-family: 'Whitney', sans-serif;
	font-size: 14px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
    height: 25px;
    padding-top: 2px;
}

.sol-admin {
    font-family: 'Whitney', sans-serif;
	font-size: 13px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
    height: 22px;
}

.sol-admin2 {
    font-family: 'Whitney', sans-serif;
	font-size: 15px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
    height: 28px;
}
